# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Data / Credentials
student_credentials.csv
database/*.db

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Scratch / Temp
scratch/
